[defaults]
inventory = ./inventory 
remote_user = devops
roles_path = ./roles
collections_paths = ./collections
log_path = ./ansible.log

[privilege_escalation]
become=True
become_method=sudo
become_user=root
#become_ask_pass=False
